<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>loading</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/iconfont.css" />
    <link rel="stylesheet" href="../css/forheyin.css" />
    <script src="../js/flexible_css.debug.js"></script>
    <script src="../js/flexible.debug.js"></script>
</head>

<body>
    <div id="loading" v-cloak>
        <div class="assCon">
            <button class="btn btn_pri btn_large" @tap="test">弹出来</button>
        </div>
        <v-load ref="sonMet"></v-load>
    </div>
</body>
<script src="../js/vue2.4.min.js"></script>
<script src="../js/yhn-tap.js"></script>
<script src="../js/plug.js"></script>
<script type="text/javascript" charset="utf-8">
    var vm = new Vue({
        el: '#loading',
        data: {},
        created: function () {},
        methods: {
            test: function () {
                vm.$refs.sonMet.loadUp();
                setTimeout(()=>{
                    vm.$refs.sonMet.loadDown();
                },3000)
            }
        }
    })
</script>

</html>