* {
  box-sizing: border-box; }

[v-cloak] {
  display: none; }

.cut {
  height: 10px; }

#myCss header {
  height: 40px;
  line-height: 40px;
  background: -webkit-linear-gradient(left, #8B94FD, #1f7ef2, #EA2000);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #8B94FD, #1f7ef2, #EA2000);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #8B94FD, #1f7ef2, #EA2000);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #8B94FD, #1f7ef2, #EA2000);
  /* The grammar of the standard (must be put at last) */
  margin-bottom: 40px; }
  #myCss header h1 {
    font-size: 0.53333rem;
    text-align: center;
    height: 30px;
    color: #fff; }
#myCss ul.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center; }
  #myCss ul.main li {
    margin-bottom: 40px;
    width: 33.33%; }
    #myCss ul.main li img {
      width: 40px;
      height: 40px; }
    #myCss ul.main li span {
      font-size: 45px;
      color: #745785; }

.assCon {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 80%; }
  .assCon button {
    margin-bottom: 20px; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  color: inherit;
  font-size: 0.45333rem;
  padding: 10px 12px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  line-height: 1;
  border: none;
  border: 1px solid #d8dce5; }

.btn_def {
  background: #fff; }

.btn_pri {
  background: #1f7ef2;
  color: #fff; }

.btn_large {
  display: block;
  width: 100%; }

.btn_warn {
  background: #ef4f4f;
  color: #fff; }

.btn:active {
  opacity: 0.8; }

.def_form {
  background: #fff; }
  .def_form li {
    display: flex;
    height: 1.33333rem;
    line-height: 1.33333rem;
    font-size: 0.4rem;
    color: #000;
    position: relative;
    padding: 0 0.53333rem; }
    .def_form li span {
      flex-grow: unset;
      width: 0.53333rem;
      text-align: right; }
    .def_form li p {
      flex-grow: 1; }
    .def_form li input {
      flex-grow: 1;
      border: none;
      outline: none; }
    .def_form li b {
      width: 90px;
      flex-shrink: 0;
      overflow: hidden; }
  .def_form li:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    height: 1px;
    border-bottom: 1px solid #f0f0f0;
    bottom: 0;
    top: unset; }

.out-enter-active,
.out-leave-active {
  transition: opacity 0.5s; }

.out-enter,
.out-leave-active {
  opacity: 0; }

.toast {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent; }
  .toast .m_con {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 70%;
    background: rgba(0, 0, 0, 0.7); }
    .toast .m_con p {
      color: #fff;
      padding: 0.32rem 0;
      font-size: 0.42667rem;
      text-align: center; }
  .toast .top {
    top: 1.33333rem; }
  .toast .bottom {
    top: auto;
    bottom: 0rem; }

.confirm {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }
  .confirm .m_over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .6; }
  .confirm .m_con {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    width: 70%;
    text-align: center; }
    .confirm .m_con .m_head {
      padding: 1.3em 1.6em 0.5em;
      font-size: 0.4rem; }
    .confirm .m_con .m_body {
      padding: 0 1.6em 0.8em;
      min-height: 40px;
      font-size: 0.34667rem;
      line-height: 1.3;
      word-wrap: break-word;
      word-break: break-all;
      color: #999999; }
    .confirm .m_con .m_foot {
      display: flex;
      position: relative;
      line-height: 1.33333rem; }
      .confirm .m_con .m_foot span {
        flex-grow: 1;
        display: inline-block;
        position: relative;
        font-size: 0.4rem; }
      .confirm .m_con .m_foot span:first-child:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        color: #D5D5D6;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        border-right: 1px solid #f0f0f0;
        bottom: 0;
        left: unset; }
    .confirm .m_con .m_foot:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      color: #D5D5D6;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      height: 1px;
      border-top: 1px solid #f0f0f0; }
    .confirm .m_con .m_foots {
      display: flex;
      position: relative;
      line-height: 1.33333rem; }
      .confirm .m_con .m_foots span {
        flex-grow: 1;
        display: inline-block;
        position: relative;
        font-size: 0.4rem; }

.popup {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .popup .popup_over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .6; }
  .popup .popup_con.active {
    animation: popUp .35s forwards; }
  .popup .popup_con.unactive {
    animation: popDown .35s forwards; }
  .popup .popup_con {
    background: #fff;
    overflow-y: auto;
    border-top: 1px solid #F0F0F0;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0; }

@keyframes popUp {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes popDown {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
.picker {
  display: block;
  position: relative;
  height: 240px;
  overflow: hidden;
  width: 100%; }
  .picker .picker_con {
    padding: 0;
    margin: -18px 0 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center; }
    .picker .picker_con li {
      position: relative;
      font-size: 0.37333rem; }
  .picker .picker_rule {
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 3;
    background-image: -webkit-linear-gradient(top, #d0d0d0, #d0d0d0, transparent, transparent), -webkit-linear-gradient(bottom, #d0d0d0, #d0d0d0, transparent, transparent);
    background-image: linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent), linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
    background-position: top, bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat; }

.loading {
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .loading .m_over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .6;
    background: #fff;
    opacity: 1; }
  .loading .spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center; }
    .loading .spinner div {
      width: 30px;
      height: 30px;
      background-color: #7990FC;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
    .loading .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
      background-color: #675D95; }
    .loading .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      background-color: #A04351; }
@-webkit-keyframes bouncedelay {
  0%,
            90%,
            100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%,
            90%,
            100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=forheyin.css.map */
