* {
    box-sizing: border-box;
}

@function re($num) {
    @return $num / 75 * 1rem;
}
[ v-cloak] {
    display: none;
}
.cut {
    height: 10px;
}
// color
$f: #fff;
$p: #1f7ef2; // main color
$b: #000;
$fc: #f0f0f0;
// font
$f20: re(20);
$f24: re(24);
$f24: re(26);
$f28: re(28);
$f30: re(30);
$f32: re(32);
$f34: re(34);
// button
.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 5px;
    border: 0;
    color: inherit;
    font-size: $f34;
    padding: 10px 12px;
    outline: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.btn_def {
    color: $b;
}
.btn_pri {
    background: $p;
    color:$f;
}
.btn:after {
    background-color: $b;
    content: " ";
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.btn_large {
    display: block;
    width: 100%;
}
.btn:not(.is-disabled):active:after {
    opacity: 0.3;
}
.btn_warn {
    background: #ef4f4f;
    color: $f;
}

.def_form {
    background: $f;
    li {
        display: flex;
        height: re(100);
        line-height: re(100);
        border-bottom: 1px solid #F8F8F8;
        font-size: $f30;
        color: $b;
        span {
            flex-grow: unset;
            width: re(40);
            text-align: right;
        }
        p {
            flex-grow: 1;
        }
        input {
            flex-grow: 1;
            border: none;
            outline: none;
        }
        b {
            width: 90px;
            flex-shrink: 0;
            overflow: hidden;
        }
    }
}
// vue animation
.out-enter-active, .out-leave-active {
    transition: opacity .5s
}
.out-enter, .out-leave-active {
    opacity: 0
}

// toast confirm  the same css
@mixin toaCon {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@mixin main_con {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
// toast css
.toast {
    @include toaCon;
    background: transparent;
    .m_con {
        @include main_con;
        width: 70%;
        background: rgba(0,0,0,.7);
        p {
            color: $f;
            padding: re(24) 0;
            font-size: $f32;
            text-align: center;
        }
    }
    .top {
        top: re(100);
    }
    .bottom {
        top: auto;
        bottom: re(0);
    }
}
// 1px 
@mixin onePx {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

// confirm css
.confirm {
    @include toaCon;
    background: rgba(0, 0, 0, 0.6);
    .m_con {
        @include main_con;
        background: #fff;
        width: 70%;
        text-align: center;
        .m_head {
            padding: 1.3em 1.6em 0.5em;
            font-size: $f30;
        }
        .m_body {
            padding: 0 1.6em 0.8em;
            min-height: 40px;
            font-size: $f24;
            line-height: 1.3;
            word-wrap: break-word;
            word-break: break-all;
            color: #999999;
        }
        .m_foot {
            display: flex;
            position: relative;
            line-height: re(100);
            span {
                flex-grow: 1;
                display: inline-block;
                position: relative;
                font-size: $f30;
            }
            span:last-child::after {
                @include onePx;
                -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
                width: 1px;
                border-left: 1px solid $fc;
                bottom: 0;
            }
        }
        .m_foot:after {
            @include onePx;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
            height: 1px;
            border-top: 1px solid $fc;
        }
    }
}