<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的Css库</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/iconfont.css" />
    <link rel="stylesheet" href="css/forheyin.css" />
    <script src="js/flexible_css.debug.js"></script>
    <script src="js/flexible.debug.js"></script>
    <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
    <div id="myCss" v-cloak>
        <!-- <ul class="def_form">
            <li>
                <b>测试卷</b>
                <p>收拾收拾</p>
                <span class="iconfont icon-right"></span>
            </li>
            <li>
                <b>测试卷</b>
                <input type="text">
                <span class="iconfont icon-right"></span>
            </li>
        </ul>
        <div class="cut"></div>
        <ul class="accordion">
            <li class="acc_1" v-for="i,index in list" style="border-bottom: 1px solid red">
                <div :class = "[i.isA ===true ? 'active' : '']" @tap="cutAcc(i)">{{i.name}}
                    <span class="iconfont icon-right"></span>
                </div>
                <transition name="out">
                    <ul class="acc_3 " v-show="i.isA">
                        <li>白日依山尽</li>
                        <li>黄河入海流</li>
                        <li>欲穷千里目</li>
                        <li>更上一层楼</li>
                    </ul>
                </transition>
            </li>
        </ul> -->
        <header>
            <h1>Demo list</h1>
        </header>
        <ul class="main">
            <li v-for="i in assList">
                <div>
                    <a :href="i.url">
                        <span :class="[i.class,'iconfont']"></span>
                        <p>{{i.name}}</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="js/vue2.4.min.js"></script>
<script src="js/yhn-tap.js"></script>
<script src="js/plug.js"></script>
<script type="text/javascript" charset="utf-8">
    var vm = new Vue({
        el: '#myCss',
        data: {
            act: false,
            list: [],
            show: false,
            flag: true,
            site: '',
            toastText: '',
            assList: [{
                    name: 'Toast',
                    url: 'view/toast.html',
                    class: 'icon-toast'
                }, {
                    name: 'Confirm',
                    url: 'view/confirm.html',
                    class: 'icon-confirm'
                }, {
                    name: 'Button',
                    url: 'view/button.html',
                    class: 'icon-button'
                }, {
                    name: 'Popup',
                    url: 'view/popup.html',
                    class: 'icon-popup'
                }, {
                    name: 'Loading',
                    url: 'view/Loading.html',
                    class: 'icon-loading'
                },
                // {
                //     name: 'Picker',
                //     url: 'view/picker.html',
                //     class: 'icon-picker'
                // },
            ]
        },
        created: function () {
            console.log(this)
            var test = [{
                name: '登鹳雀楼'
            }, {
                name: '将进酒'
            }, {
                name: '蜀道难'
            }]
            test.forEach(function (item) {
                item.isA = false
            });
            this.list = test;
        },
        methods: {
            cutAcc: function (j) {
                console.log(j)
                j.isA = !j.isA;
            },
        }
    })
</script>

</html>